[submodule "linux_vita"]
	path = linux_vita
	url = https://github.com/incognitojam/linux_vita.git
	branch = vita-port
[submodule "vita-baremetal-linux-loader"]
	path = vita-baremetal-linux-loader
	url = https://github.com/incognitojam/vita-baremetal-linux-loader.git
	branch = vita-port
